body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  /* color: #000;
  background-color: #FFF; */
}

body > * {
  margin: 0 auto;
}

.homepage {
  color: #FFF;
  background: url("../images/home/texture.png") top left/cover no-repeat, #000;
}

section {
  padding: 100px 50px;
}

section:not(.hero) {
  color: #000;
  background-color: #FFF;
}

@media screen and (min-width: 1920px) {
  .homepage {
    background: url("../images/ornament.png") -35px 190px no-repeat, #000;
  }
}

h1, h2, h3, h4, span, .highlighted {
  font-family: "Roboto Serif", serif;
  font-weight: 600;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 30px;
  margin-bottom: 25px;
}

.centered {
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  margin: 20px auto;
  padding: 10px;
}

header .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

header img {
  width: 40px;
}

header .nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

header a {
  text-decoration: none;
  color: #FFF;
  background-color: #000;
}

header span {
  font-size: 30px;
}

header .contact-button {
  max-width: 140px;
}

button {
  border-radius: 25px;
  padding: 10px 15px;
  font-size: 18px;
  height: 50px;
}

.hero {
  display: flex;
  max-width: 1400px;
  margin: 140px auto 0 auto;
  padding: 0 50px 120px 50px;
}

.hero .hero-text {
  max-width: 840px;
  position: relative
}

.hero-text p {
  margin-top: 25px;
  max-width: 550px;
}

.hero-text button {
  margin-top: 30px;
}

.highlighted {
  color: #64CCC5;
}

.hero-text p.highlighted {
  margin-top: 180px;
  font-size: 20px;
}

.hero h2 {
  font-size: 64px;
  max-width: 660px;
}

.hero .partner-brands {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  left: -15px;
}

.with-icon {
  padding-left: 40px;
  position: relative;
}

.with-icon::before {
  content: "";
  background: url("../images/button-arrow.png");
  width: 25px;
  height: 25px;
  position: absolute;
  left: 10px;
  top: 10px;
  background-size: 25px;
}

.hero-image {
  margin-top: -140px;
  width: 850px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-image: url("../images/home/eclipse10.png"), 
                    url("../images/home/circle1.svg"),
                    url("../images//home/circle2.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 70%, 85%, 100%;
  filter: drop-shadow(0 0 400px #d7dfdeb3);
}

.card-container {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
  gap: 60px;
  justify-content: center;
}

.card {
  /* max-width: 420px; */
  background-color: #F4F4F4;
  border-radius: 20px;
  padding: 45px;
}

h4 {
  margin-top: 60px;
  margin-bottom: 15px;
}

.icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #000;
  text-align: center;
}

.icon svg {
  padding-top: 25px;
  color: #FFF;
}